
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 15.449rem;
}.logo-mCz {
  box-sizing: border-box;
  padding-right: 0rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo-mCz .icon-sG2 {
  margin: 0rem 0.8rem 0rem 0rem;
  width: 3.5rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo-mCz .nexcent-NyU {
  margin-bottom: 0rem;
  width: 11.149rem;
  height: 2.0662rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
