
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.icons-Lrz {
  height: 140rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .arrows-directions-down-square-uYi {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 50.8rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-up-square-bwL {
    position: absolute;
    left: 55.6rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .arrows-directions-right-square-KsL {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 60.4rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-left-square-r6a {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 65.2rem;
    top: 26.8rem;
  }
  .arrows-directions-down-square-2-BPk {
    height: 2.4rem;
    position: absolute;
    left: 70rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .arrows-directions-up-square-2-uae {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 74.8rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-right-square-2-S4n {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 79.6rem;
    top: 26.8rem;
  }
  .arrows-directions-left-square-2-wXL {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 84.4rem;
    top: 26.8rem;
    object-fit: contain;
  }
  .arrows-directions-down-circle-U1U {
    left: 89.2rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .arrows-directions-up-circle-oJe {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 94rem;
    top: 26.8rem;
    object-fit: contain;
  }
  .arrows-directions-right-circle-jCJ {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 108.4rem;
    top: 26.8rem;
  }
  .arrows-directions-left-circle-rGv {
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 113.2rem;
  }
  .arrows-directions-down-circle-yMY {
    height: 2.4rem;
    position: absolute;
    left: 118rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .arrows-directions-up-circle-orN {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 122.8rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-up-right-circle-KJv {
    position: absolute;
    left: 127.6rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .arrows-directions-up-left-circle-Ewg {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 132.4rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-down-right-circle-yPU {
    position: absolute;
    left: 50.8rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .arrows-directions-down-left-circle-JRk {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 55.6rem;
    top: 31.6rem;
    object-fit: contain;
  }
  .arrows-directions-down-EaJ {
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 60.4rem;
  }
  .arrows-directions-down-xWJ {
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 50.8rem;
    top: 48.8rem;
    object-fit: contain;
  }
  .arrows-directions-up-66i {
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 54rem;
    top: 48.8rem;
    object-fit: contain;
  }
  .arrows-directions-right-d6e {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 57.2rem;
    top: 48.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-left-ZFC {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 60.4rem;
    top: 48.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-up-left-5zE {
    top: 48.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 63.6rem;
  }
  .arrows-directions-up-right-R2W {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 66.8rem;
    top: 48.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-down-left-wmY {
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 70rem;
    top: 48.8rem;
  }
  .arrows-directions-down-right-UmU {
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 73.2rem;
    top: 48.8rem;
    object-fit: contain;
  }
  .arrows-directions-up-ChU {
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 65.2rem;
  }
  .arrows-directions-right-Xjk {
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 70rem;
  }
  .arrows-directions-left-sHp {
    position: absolute;
    left: 74.8rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .arrows-directions-up-left-QHk {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 79.6rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-down-left-vmt {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 89.2rem;
    top: 31.6rem;
    object-fit: contain;
  }
  .arrows-directions-up-right-4NJ {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 84.4rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-down-right-np6 {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 94rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-up-2-L4v {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 98.8rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-up-TvE {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 76.4rem;
    top: 48.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-right-zvA {
    left: 79.6rem;
    top: 48.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
  }
  .arrows-directions-left-jcr {
    position: absolute;
    left: 82.8rem;
    top: 48.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
  }
  .arrows-directions-down-2-U4e {
    height: 2.4rem;
    position: absolute;
    left: 103.6rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .arrows-directions-right-2-bf4 {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 108.4rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-left-2-vxE {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 113.2rem;
    top: 31.6rem;
  }
  .arrows-directions-swap-s6n {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 118rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-swap-oFL {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 86rem;
    top: 48.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-swap-XSE {
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 89.2rem;
    top: 48.8rem;
  }
  .arrows-directions-swap-2-G8v {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 122.8rem;
    top: 31.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-swap-3-zKp {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 127.6rem;
    top: 31.6rem;
    object-fit: contain;
  }
  .arrows-directions-swap-KN6 {
    top: 48.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 92.4rem;
  }
  .arrows-directions-expand-rN2 {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 132.4rem;
    top: 31.6rem;
    object-fit: contain;
  }
  .arrows-directions-expand-b4i {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 95.6rem;
    top: 48.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-expand-iQE {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 97.8rem;
    top: 48.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .arrows-directions-collapse-Sr2 {
    left: 50.8rem;
    top: 36.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .arrows-directions-right-circle-A1L {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 98.8rem;
    top: 26.8rem;
  }
  .arrows-directions-left-circle-Uni {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 103.6rem;
    top: 26.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-bers-1Xk {
    top: 21.6rem;
    display: flex;
    align-items: flex-start;
    width: 47.4rem;
    height: 3.6rem;
    position: absolute;
    left: 6rem;

    .arrows-directions-8MU {
      letter-spacing: 0.01rem;
      flex-shrink: 0;
      margin-right: 17.8rem;
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 1.2857142857;
      color: #0671e0;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-24-oiW {
      color: #717171;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: 0.01rem;
    }
  }
  .auto-group-e9gi-XeW {
    top: 63.2rem;
    display: flex;
    align-items: flex-start;
    width: 47.4rem;
    height: 3.6rem;
    position: absolute;
    left: 6rem;

    .user-interface-ej8 {
      font-weight: 600;
      line-height: 1.2857142857;
      letter-spacing: 0.01rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 25.3rem;
      font-size: 2.8rem;
      color: #0671e0;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-24-AxN {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: 0.01rem;
      color: #717171;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .item-16-hhQ {
    font-size: 2rem;
    letter-spacing: 0.01rem;
    color: #717171;
    white-space: nowrap;
    width: 2.3rem;
    height: 2.8rem;
    position: absolute;
    left: 50.8rem;
    top: 43.6rem;
    font-weight: 600;
    line-height: 1.4;
    font-family: Inter, 'Source Sans Pro';
  }
  .item-16-Pq8 {
    line-height: 1.4;
    letter-spacing: 0.01rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 2.3rem;
    height: 2.8rem;
    top: 85.2rem;
    font-weight: 600;
    color: #717171;
    position: absolute;
    left: 50.8rem;
    font-size: 2rem;
  }
  .vector-2-u2n {
    left: 6rem;
    top: 56.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 132rem;
    height: 0;
    position: absolute;
  }
  .user-interface-search-SHc {
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 74.8rem;
  }
  .user-interface-search-ADc {
    top: 90.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 66.8rem;
  }
  .user-interface-document-5rN {
    height: 2.4rem;
    position: absolute;
    left: 79.6rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .user-interface-document-2-R9Y {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 84.4rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-document-add-x9U {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 89.2rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-document-delite-V9Q {
    position: absolute;
    left: 94rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-interface-copy-DbC {
    height: 2.4rem;
    position: absolute;
    left: 122.8rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .user-interface-layers-8iA {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 98.8rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-paperclip-GJa {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 122.8rem;
    top: 78rem;
  }
  .user-interface-calendar-bLr {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 65.2rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-lock-jCA {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 103.6rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-lock-open-GC6 {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 108.4rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-lock-check-Q3Q {
    height: 2.4rem;
    position: absolute;
    left: 113.2rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .user-interface-lock-x-Lhk {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 118rem;
    top: 68.4rem;
  }
  .user-interface-filter-H7C {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 127.6rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-camera-orE {
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 132.4rem;
  }
  .user-interface-info-square-YYv {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 89.2rem;
    top: 73.2rem;
  }
  .user-interface-x-5Yr {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 94rem;
    top: 73.2rem;
  }
  .user-interface-check-square-DQA {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 98.8rem;
    top: 73.2rem;
    object-fit: contain;
  }
  .user-interface-more-square-wb4 {
    left: 108.4rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .user-interface-more-circle-gHk {
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 103.6rem;
  }
  .user-interface-category-158 {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 113.2rem;
    top: 73.2rem;
    box-sizing: border-box;
    padding: 0.4rem 0.35rem 0.3rem 0.35rem;

    .category-hTk {
      flex-direction: column;
      border-radius: 0.25rem;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;

      .auto-group-rwhc-SgE {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.3rem;

        .rectangle-2-nk6 {
          height: 0.7rem;
          border: solid 0.15rem #717171;
          box-sizing: border-box;
          border-radius: 0.25rem;
          flex-shrink: 0;
          margin-right: 0.3rem;
          width: 0.7rem;
        }
        .rectangle-3-VuQ {
          width: 0.7rem;
          height: 0.7rem;
          border: solid 0.15rem #717171;
          box-sizing: border-box;
          border-radius: 0.25rem;
          flex-shrink: 0;
        }
      }
      .auto-group-hs2n-pwg {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .rectangle-4-NyC {
          border-radius: 0.25rem;
          flex-shrink: 0;
          margin-right: 0.3rem;
          width: 0.7rem;
          height: 0.7rem;
          border: solid 0.15rem #717171;
          box-sizing: border-box;
        }
        .rectangle-5-hVg {
          width: 0.7rem;
          height: 0.7rem;
          border: solid 0.15rem #717171;
          box-sizing: border-box;
          border-radius: 0.25rem;
          flex-shrink: 0;
        }
      }
    }
  }
  .user-interface-mail-Dyp {
    position: absolute;
    left: 74.8rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-interface-home-xAi {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 79.6rem;
    top: 73.2rem;
  }
  .user-interface-bell-5m8 {
    position: absolute;
    left: 118rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-interface-send-2Aa {
    height: 2.4rem;
    position: absolute;
    left: 60.4rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .user-interface-scanner-wYS {
    position: absolute;
    left: 122.8rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-interface-location-UHU {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 70rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-image-oae {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 84.4rem;
    top: 73.2rem;
  }
  .user-interface-trash-jz6 {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 118rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-filter-HEv {
    position: absolute;
    left: 50.8rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-interface-settings-DeN {
    height: 2.4rem;
    position: absolute;
    left: 55.6rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .user-interface-login-MEn {
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 127.6rem;
  }
  .user-interface-logout-gH4 {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 132.4rem;
    top: 73.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-download-2-mZQ {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 50.8rem;
    top: 78rem;
    object-fit: contain;
  }
  .user-interface-logout-VVQ {
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 55.6rem;
  }
  .user-interface-eye-QcN {
    height: 2.4rem;
    position: absolute;
    left: 60.4rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .user-interface-hide-w6W {
    position: absolute;
    left: 65.2rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-interface-save-4gv {
    left: 70rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .user-interface-burger-C2S {
    height: 2.4rem;
    position: absolute;
    left: 70rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .user-interface-user-uxS {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 74.8rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-users-SxN {
    position: absolute;
    left: 79.6rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-interface-add-user-yxJ {
    left: 84.4rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .user-interface-edit-1-ub4 {
    height: 2.4rem;
    position: absolute;
    left: 94rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .user-interface-edit-2-e2r {
    left: 89.2rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .user-interface-share-yav {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 98.8rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-link-i2i {
    position: absolute;
    left: 103.6rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-interface-link-2-2p6 {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 108.4rem;
    top: 78rem;
    object-fit: contain;
  }
  .user-interface-loading-mWn {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 113.2rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-loading-Vxa {
    height: 1.6rem;
    position: absolute;
    left: 63.6rem;
    top: 90.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
  }
  .user-interface-check-1vv {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 60.4rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-check-7j4 {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 57.2rem;
    top: 90.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-close-FKU {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 65.2rem;
    top: 68.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-x-ymG {
    left: 60.4rem;
    top: 90.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
  }
  .user-interface--uev {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 50.8rem;
    top: 68.4rem;
    object-fit: contain;
  }
  .user-interface--e6i {
    top: 90.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 50.8rem;
  }
  .user-interface--B6e {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 55.6rem;
    top: 68.4rem;
  }
  .user-interface--Jwx {
    left: 54rem;
    top: 90.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
  }
  .user-interface-danger-eW2 {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 127.6rem;
    top: 78rem;
    object-fit: contain;
    vertical-align: top;
  }
  .user-interface-danger-ncE {
    height: 1.6rem;
    position: absolute;
    left: 70rem;
    top: 90.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
  }
  .arrows-directions-strech-KMG {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 55.6rem;
    top: 36.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .icons-dcr {
    height: 4.4rem;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 9.6rem;
    position: absolute;
    left: 67.2rem;
    top: 6.4rem;
    line-height: 1.2222222222;
    color: #263238;
  }
  .expand-vrr {
    position: absolute;
    left: 101rem;
    top: 48.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
  }
}
