
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.typography-QUE {
  width: 100%;
  height: 208.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .font-style-42z {
    left: 50.8rem;
    top: 38.4rem;
    width: 18.5rem;
    height: 7.2rem;
    position: absolute;

    .web-heading-headline-2-KUi {
      line-height: 1.2222222222;
      color: #212121;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.4rem;
      font-size: 3.6rem;
      font-weight: 600;
    }
    .semi-bold-36-44-MgJ {
      letter-spacing: 0.01rem;
      color: #88939e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  .font-style-RgA {
    left: 50.8rem;
    top: 56rem;
    width: 13.1rem;
    height: 5.6rem;
    position: absolute;

    .web-heading-headline-4-7J6 {
      margin-bottom: 0.4rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.4;
      color: #212121;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .semi-bold-20-28-BHx {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.01rem;
      color: #88939e;
    }
  }
  .font-style-fyp {
    height: 6.4rem;
    position: absolute;
    left: 50.8rem;
    top: 47.6rem;
    width: 14.6rem;

    .web-heading-headline-3-Z3c {
      margin-bottom: 0.4rem;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1.2857142857;
      color: #212121;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .semi-bold-28-36-tLn {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.01rem;
      color: #88939e;
    }
  }
  .auto-group-czcw-PHY {
    width: 52rem;
    height: 3.6rem;
    position: absolute;
    left: 6rem;
    top: 20.8rem;
    display: flex;
    align-items: flex-start;

    .headlines-uFt {
      margin-right: 31.2rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 1.2857142857;
      letter-spacing: 0.01rem;
      color: #0671e0;
      white-space: nowrap;
    }
    .header-DXU {
      line-height: 1.4;
      letter-spacing: 0.01rem;
      color: #717171;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
    }
  }
  .auto-group-n7h8-wTU {
    align-items: flex-start;
    width: 86.8rem;
    height: 3.6rem;
    position: absolute;
    left: 6rem;
    top: 74.4rem;
    display: flex;

    .body-qHx {
      color: #0671e0;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 37.8rem;
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 1.2857142857;
      letter-spacing: 0.01rem;
      white-space: nowrap;
    }
    .regular-kA2 {
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 26.6rem;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: 0.01rem;
      color: #717171;
      white-space: nowrap;
    }
    .medium-ULv {
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: 0.01rem;
      color: #717171;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .vector-4-cT8 {
    top: 68rem;
    object-fit: contain;
    vertical-align: top;
    width: 132rem;
    height: 0;
    position: absolute;
    left: 6rem;
  }
  .font-style-k3Y {
    width: 32rem;
    height: 10.4rem;
    position: absolute;
    left: 50.8rem;
    top: 26rem;

    .web-heading-headline-1-Ute {
      color: #212121;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.4rem;
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 1.1875;
    }
    .semi-bold-64-76-krA {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.01rem;
      color: #88939e;
    }
  }
  .auto-group-xphl-HLJ {
    height: 5.6rem;
    position: absolute;
    left: 50.8rem;
    top: 79.6rem;
    display: flex;
    align-items: center;
    width: 45.1rem;

    .frame-82-oJe {
      margin-right: 23.1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .body-regular-body-1-LpN {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5555555556;
        color: #212121;
      }
      .regular-18-28-GT8 {
        line-height: 1.5;
        letter-spacing: 0.01rem;
        color: #88939e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .frame-83-bkJ {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .body-medium-body-1-YfY {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #212121;
        font-family: Inter, 'Source Sans Pro';
      }
      .regular-18-28-GrS {
        letter-spacing: 0.01rem;
        color: #88939e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }
  .auto-group-ahwe-BTc {
    display: flex;
    align-items: center;
    width: 45.1rem;
    height: 5.2rem;
    position: absolute;
    left: 50.8rem;
    top: 87.2rem;

    .font-style-srE {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 23.1rem;
      height: 100%;
      display: flex;

      .body-regular-body-2-S8e {
        font-weight: 400;
        line-height: 1.5;
        color: #212121;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
      }
      .regular-16-24-AqL {
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.01rem;
        color: #88939e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .font-style-i6A {
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .body-medium-body-2-fn6 {
        font-weight: 500;
        line-height: 1.5;
        color: #212121;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
      }
      .regular-16-24-QDt {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.01rem;
        color: #88939e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-pbaw-YL6 {
    height: 4.8rem;
    position: absolute;
    left: 50.8rem;
    top: 94.4rem;
    display: flex;
    align-items: center;
    width: 45.1rem;

    .font-style-UDk {
      margin-right: 23.1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .body-regular-body-3-1Dg {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4285714286;
        color: #212121;
        font-family: Inter, 'Source Sans Pro';
      }
      .regular-14-20-8ZC {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.01rem;
        color: #88939e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .font-style-1st {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .body-medium-body-3-xYE {
        font-weight: 500;
        line-height: 1.4285714286;
        color: #212121;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.4rem;
      }
      .regular-14-20-UFg {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.01rem;
        color: #88939e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-2uvj-Q9L {
    height: 4.4rem;
    position: absolute;
    left: 50.8rem;
    top: 101.2rem;
    display: flex;
    align-items: center;
    width: 44.8rem;

    .font-style-w9G {
      flex-shrink: 0;
      margin-right: 23.4rem;
      height: 100%;
      display: flex;
      flex-direction: column;

      .body-regular-body-4-gsY {
        color: #212121;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
      }
      .regular-12-16-RKL {
        line-height: 1.5;
        letter-spacing: 0.01rem;
        color: #88939e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .font-style-xKG {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .body-medium-body-4-iZL {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3333333333;
        color: #212121;
        font-family: Inter, 'Source Sans Pro';
      }
      .regular-12-16-qP4 {
        line-height: 1.5;
        letter-spacing: 0.01rem;
        color: #88939e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
  .typography-wgz {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2222222222;
    color: #263238;
    font-family: Inter, 'Source Sans Pro';
    width: 21.2rem;
    left: 61.4rem;
    top: 6.4rem;
    white-space: nowrap;
    height: 4.4rem;
    position: absolute;
    text-align: center;
  }
}
